body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lb1{
    position: absolute;
    width: 1366px;
height: 679px;
    left: 0px;
    top: 0px;

    
}
.lb2{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 0px;
    left: 45px;
    top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu {
    position: absolute;
    right: 100px;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
}

/* Hover */

.menu a:hover {
    color: #d22ce1;
}

.menu .point {
    color: #d22ce1;
}

/* Btn X Span */
.btn {
    display: none;
    position: absolute;
    right: 20px;
}

.btn span {
    display: block;
    margin: 6px;
    width: 30px;
    height: 3px;
    background: #f1f1f1;
    line-height: 50px;
}

.btn:hover>span {
    background: #e1b12c;
}
.garis1{
    position: absolute;
width: 373px;
height: 0px;

background: #B2A5B0;
mix-blend-mode: soft-light;
}
.garis2{
    position: absolute;
width: 222px;
height: 0px;

background: #523952;
mix-blend-mode: hard-light;

}
.kata1{
    position: absolute;
    width: 797px;
    height: 63px;

    top: 170px;
    left: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kata2{
    position: absolute;
    width: 797px;
    height: 63px;

    top: 250px;
    left: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kata4{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 1037px;
    top: 550px;

    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}
.email{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 1128px;
    top: 563px;

    background: url(img/19.png);
}
.facebook{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 1172px;
    top: 563px;

    background: url(img/22.png);
}
.Instagram{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 1215px;
    top: 563px;

    background: url(img/23.png);
}
.telefon{
    position: absolute;
    width: 17px;
    height: 20px;
    left: 1037px;
    top: 600px;
    
    background: url(img/24.png);  
}
.kata5{
    position: absolute;
    width: 144px;
    height: 20px;
    left: 1063px;
    top: 580px;

    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}
.foto{
    position: absolute;
    width: 639px;
    height: 668px;
    left: 35px;
    top: 712px;

    background: url(img/7.jpg);
    border-radius: 0px 50px 50px 0px;
}
.nama{
    position: absolute;
    width: 83px;
    height: 32px;
    left: 723px;
    top: 747px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #B511B5;

}
.ttl{
    position: absolute;
    width: 49px;
    height: 32px;
    left: 723px;
    top: 816px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #B511B5;
}
.emmail{
    position: absolute;
    width: 49px;
    height: 32px;
    left: 723px;
    top: 885px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #B511B5; 
}
.alamat{
    position: absolute;
    width: 49px;
    height: 32px;
    left: 723px;
    top: 960px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #B511B5; 
}
.katakata{
    position: absolute;
    width: 445px;
    height: 225px;
    left: 762px;
    top: 1080px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}
.nama1{
    position: absolute;
    width: 178px;
    height: 32px;
    left: 896px;
    top: 747px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}
.ttl1{
    position: absolute;
    width: 330px;
    height: 32px;
    left: 893px;
    top: 816px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}
.emmail1{
    position: absolute;
    width: 337px;
    height: 32px;
    left: 893px;
    top: 884px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;

}
.alamat1{
    position: absolute;
    width: 319px;
    height: 32px;
    left: 893px;
    top: 960px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;

}
.bg1{
    position: absolute;
    width: 1340px;
    height: 585px;
    top: 1415px;
    background: #9C7A97;
    border-radius: 50px 50px 0px 0px;
}
.kata6{
    position: absolute;
    width: 487px;
    height: 46px;

    top: 1470px;
    left: 440px;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.garis6{
    position: absolute;
    width: 329px;
    height: 0px;
    top: 1770px;
    left: 492px;
    border: 5px solid #EDCCF2;
    transform: rotate(90deg);
}
.tk{
    position: absolute;
    
    top: 1602px;
    left: 300px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}
.sd{
    position: absolute;
    top: 1663px;
    left: 300px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}
.smp{
    position: absolute;
    
    top: 1735px;
    left: 300px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}
.smk{
    position: absolute;
   
    top: 1810px;
    left: 300px;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}
.l1{
    position: absolute;
    width: 472px;
    height: 35px;
    top: 1602px;
    left: 703px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}
.l2{
    position: absolute;
    width: 472px;
    height: 35px;
    top: 1663px;
    left: 703px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}
.l3{
    position: absolute;
    width: 472px;
    height: 35px;
    top: 1735px;
    left: 703px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}
.l4{
    position: absolute;
    width: 472px;
    height: 35px;
    top: 1810px;
    left: 703px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}
.copy{
    position: absolute;
    width: 554px;
    height: 23px;
    top: 1951px;
    left: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media